h1{
	color: red;
	font-size:30px;
	text-align:center;
}
#nama1 {
	color:red;
	font-size:15px;
}
#nama2 {
	color:red;
	font-size:15px;
}
body{
	background :#e3f26c url("foto.png") no-repeat scroll center;
	
}
p {
	font-family:Helvetica;
	font-size :15px;
	text-align:center;
	color:yellow;
}